@import 'theme.css';

.rst-content .highlighted {
  display: inline;
  padding: 0;
}

.rst-content a:not(.headerlink):hover {
  text-decoration: underline;
}
.rst-content a:not(.headerlink):visited {
  color: #2980B9;
}

.rst-content dl:not(.docutils) dl {
  margin-top: 8px;
  margin-bottom: 0px;
}
.rst-content dl:not(.docutils) dl dd {
  margin-bottom: 32px;
}
.rst-content dl:not(.docutils) dl dd:empty {
  margin-bottom: 0;
}
.rst-content dl:not(.docutils) ul li p {
  margin-bottom: 0 !important;
}
.rst-content dl:not(.docutils) dl dt {
  /* border-left-color: #6ab0de; */
  /* background: #e7f2fa; */
  font-weight: bold;
  color: #888;
  font-size: 75%;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
  padding-left: 35px;
  text-indent: -29px;
  margin-bottom: 8px;
}
.rst-content dl:not(.docutils) dt .reference.internal {
  color: #2980B9;
  margin-right: 8px;
  text-decoration: underline;
}
.rst-content dl:not(.docutils) dl dt em {
  /* font-weight: bolder; */
  font-style: normal;
  color: #000;
}
.rst-content dl:not(.docutils) .property {
  display: inline;
  font-style: italic;
}
.rst-content dl:not(.docutils) dl dt .reference.internal {
  color: #888;
  margin-right: 8px;
  text-decoration: underline;
}
.rst-content dl:not(.docutils) dl dt .reference.internal:hover {
  color: #2980B9;
}
.rst-content dl dl dt .headerlink {
  display: inline;
  position: relative;
  top: 1px;
}

.rst-content code.literal {
  /* color: #dc9201; */
}

.rst-content code.sig-name.descname {
  /* color: #2980B9; */
}

.rst-content dl table.highlighttable {
  margin-bottom: 0 !important;
}

.rst-content code.xref {
  color: #2980B9;
}
.rst-content code.xref:hover {
  text-decoration: underline;
}

.rst-content .viewcode-link, .rst-content .viewcode-back {
  padding-left: 28px;
}